body {
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  text-align: center;
  padding: 0;
}
p {
  font-size: 10px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

.middle {
  display: inline-block;
  padding-left: 150px;
}
.left {
  float: left;
}
.right {
  float: left;
}

.right ul {
  margin-top: 12px;
}
.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 10px;
}
.container {
  max-width: 600px;
  min-height: 600px;
  margin: 30px auto;
  padding: 20px 0px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(4, 51, 12, 0.4);
  color: aliceblue;
  position: relative;
  background: radial-gradient(
    506px at 50.6% 16.5%,
    rgb(183, 218, 223) 5.5%,
    rgb(154, 192, 206) 100.2%
  );
}

.searchbar {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 40px;
}

.weather-temperature .active {
  color: aliceblue;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin: 0 auto;
}
.updated {
  margin-top: 50px;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.row {
  margin-top: 50px;
}
.col-2 {
  text-align: center;
}
